<nav class="nav fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo-container">
                    <a (click)="home()">
                        <img src="assets/logo.png" alt="" class="logo" >
                    </a>
                </div> 
                <a id="p" (click)="home()"><p id="p" class="p">Pet Connect</p></a>
            </div>
            <div id="h" class="col-md-20 col-sm-9 col-9 text-end">
                <!-- <div class="menu-icon">
                    <i class="bi bi-list"></i>
                </div> -->
                <div class="desktop_menu">
                    <ul>
                        <li><div class="form-group" >
                            <input type="text" class="form-control"  (keyup)="search($event)" placeholder="search centers" style="width:auto;">
                        </div>
                        </li>
                        <span class="fas fa-search search-icon" style="color: black;"></span>
                        &nbsp;
                        <li><a id="l" (click)="home()">Home</a></li>
                        <li><a id="l" href="https://maps.google.com" target="_blank">Explore Animal Centers</a></li>
                        <!-- <li><a id="l" (click)="openDialog2">My Appointments</a></li>
                        <li><a id="l" href="https://maps.google.com" target="_blank">Explore Hospitals</a></li> -->
                        <li><a id="l" (click)="logOut()">Sign Out</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row" style="margin-top: 100px;">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title,address,city'">
            <div class="card col-md-3">
                <img class="sqr-img" src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Breed: {{item.breed}}</h5>
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Age: {{item.age}} Months</h5>
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Color: {{item.color}}</h5>
                <!-- <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p> -->
                <!-- <p><strong>Price:</strong> ${{item.price}}</p> -->
                <!-- <button  class="btn btn-primary" >Go</button> -->
            </div>
        </ng-container>

    </div>
</div>
