.search-icon {
    position: absolute;
    z-index: 10;
    right: 59%;
    top: 20px;
    color: blue;
    margin-top: 15px;
    margin-right:-550px;;
}

.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}
