<!-- <p>home4 works!</p> -->
    <!-- <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>


        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger"></div>
        </button>
    </div> -->

    

<div class="outer" style="background-attachment:scroll;  background:url(“img.jpg”) top right no-repeat;" [ngStyle]="{backgroundImage:'url(./assets/back.jpeg)'}">
    <!-- [ngStyle]="{backgroundImage:'url(./assets/back.jpeg)'}" -->
    <div class="card-top container-fluid" style="background-attachment: fixed;">
        <div class="container d-flex">
            <div class="item" style="margin-top: 130px; margin-left: -30px;">
                <a (click)="filter('')">
                    <img src="./assets/Images/All Products.jpg" style="margin-left: -12px;width:125px;">
                    <h6>All products</h6>
                </a>
            </div>
            <div class="item" style="margin-top: 130px; margin-left: 60px;">
                <a (click)="filter('Pet Food')">
                    <img src="./assets/Images/Pet Food.jpg" style="margin-left: -25px; width:140px; height: 75px;">
                    <h6>Pet Food</h6>
                </a>
            </div>
            <div class="item" style="margin-top: 130px; margin-left: 30px;">
                <a (click)="filter('Pet Fashion')">
                    <img src="./assets/Images/Pet Fashion.jpg" style="margin-left: -10px; width:130px; height: 75px;">
                    <h6 style="margin-left: 10px;">Pet Fashion</h6>
                </a>
            </div>
            <div class="item" style="margin-top: 130px; margin-left: 35px;">
                <a (click)="filter('Pet Accessories')">
                    <img src="./assets/Images/Pet Accessories.jpg" style="margin-left: -3px; width:120px; height: 75px;">
                    <h6>Pet Accessories</h6>
                </a>
            </div>
        </div>
    </div>
    &nbsp;
    <hr>




    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
                <div class="card col-md-3">
                    <img class="sqr-img" src="{{item.image}}" alt="" >
                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                    <p><strong>Price:</strong> ${{item.price}}</p>
                    <button (click)=addtocart(item) class="btn btn-primary" >Add to cart</button>
                </div>
            </ng-container>
    
        </div>
    </div>


</div>